body{
    background-color:
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.bienvenida{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: burlywood;
}
.--copyright--{
    background-color: black;
    color: cornsilk;
    font-family: Georgia, 'Times New Roman', Times, serif;
}